/*
Place your custom CSS here
*/
#skip_link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip_link:focus {
    position: static;
    width: auto;
    height: auto;
}
