/*
Place your custom CSS here
*/

.base-pageheader-test {
    /* height: 120px; */
    padding-left: 20px;
    /* background-color: #efefef; */
    transition: all ease 300ms;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white !important;
}
.collapsed-pageheader-test {
    padding-top: 8px;
    padding-bottom: 8px;
    /* height: 120px; */
    background-color: white;
}

.card {
    /* Add shadows to create the "card" effect */
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    /* padding: 2px 16px; */
}
.remove-card {
    background: #efefef;
    /* height: 10px; */
    padding: 10px;
}
h1 {
    margin: 0;
}
.remove-card h2 {
    margin: 0;
}
