/*
Place your custom CSS here
*/
.widget-hello-world {
}
/* .carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
} */

/* .carousel .slide img {
    max-height: 300px; 
    width: auto;
} */
