@import "~antd/es/table/style/index.css";
@import "~antd/es/empty/style/index.css";
@import "~antd/es/radio/style/index.css";
@import "~antd/es/checkbox/style/index.css";
@import "~antd/es/dropdown/style/index.css";
@import "~antd/es/spin/style/index.css";
@import "~antd/es/pagination/style/index.css";

.widget-treetable-wrapper {
    .ant-table-thead {
        .ant-table-selection-column {
            .ant-checkbox-input {
                display:none;
            }
        }
    }

    .ant-table-tbody {
        > tr.ant-table-row-selected td {
            background: #d4d4d4;
        }
        .ant-table-selection-column {
            .ant-radio-input {
                display:none;
            }
            .ant-checkbox-input {
                display:none;
            }
        }
    }
    &.hide-selectboxes {
        .ant-table-selection-col {
            width: 0!important;
        }
        .ant-table-selection-column {
            padding: 0!important;
            .ant-table-header-column {
                display: none;
            }
        }
        .ant-table-tbody {
            .ant-table-selection-column {
                padding: 0!important;
                * {
                    display: none;
                }
            }
        }
        .ant-table-row-selected {

        }
    }
    .ant-table-row-expand-icon {
        line-height: 16px;
    }

    .ant-table-cell-with-icon {
        display: inline-block;
        position: relative;
        padding-left: 18px;
        .ant-table-cell-icon.glyphicon {
            position: absolute;
            left: 0;
            top: 4px;
        }
    }

    .widget-treetable-buttonbar {
        margin-bottom: 6px;
    }

    .buttonColumn {
        padding: 0;
    }

    .actionButton {
        padding: 0.4em;
    }
}
.widget-treetable-alert {
    .alerts {
        margin-bottom: 0;
        list-style: none;
        padding: 0;

        li:first-child {
            margin-top: 10px;
        }
    }
}
.demo-error-card--treetable {
    padding: 10px 20px;
    border: 1px solid #DDD;
    border-radius: 3px;
    margin-bottom: 10px;
    &:first-child {
        margin-top: 10px;
    }
}
