@-webkit-keyframes "antCheckboxEffect" {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0.5;
	}

	100% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
		opacity: 0;
	}
}

@keyframes "antCheckboxEffect" {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0.5;
	}

	100% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
		opacity: 0;
	}
}

@-webkit-keyframes "antSpinMove" {
	to {
		opacity: 1;
	}
}

@keyframes "antSpinMove" {
	to {
		opacity: 1;
	}
}

@-webkit-keyframes "antRotate" {
	to {
		-webkit-transform: rotate(405deg);
		transform: rotate(405deg);
	}
}

@keyframes "antRotate" {
	to {
		-webkit-transform: rotate(405deg);
		transform: rotate(405deg);
	}
}

.treeview-widget {
	.ant-tree.ant-tree-directory {
		position: relative;

		>li {
			span.ant-tree-switcher {
				position: relative;
				z-index: 1;
			}

			span.ant-tree-switcher.ant-tree-switcher-noop {
				pointer-events: none;
			}

			span.ant-tree-checkbox {
				position: relative;
				z-index: 1;
			}

			span.ant-tree-node-content-wrapper {
				border-radius: 0;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;

				&:hover {
					background: transparent;

					&::before {
						background: #e6f7ff;
					}
				}

				&::before {
					position: absolute;
					right: 0;
					left: 0;
					height: 24px;
					-webkit-transition: all 0.3s;
					transition: all 0.3s;
					content: '';
				}

				>span {
					position: relative;
					z-index: 1;
				}
			}

			span.ant-tree-node-content-wrapper.ant-tree-node-selected {
				color: #fff;
				background: transparent;
			}
		}

		.ant-tree-child-tree {
			>li {
				span.ant-tree-switcher {
					position: relative;
					z-index: 1;
				}

				span.ant-tree-switcher.ant-tree-switcher-noop {
					pointer-events: none;
				}

				span.ant-tree-checkbox {
					position: relative;
					z-index: 1;
				}

				span.ant-tree-node-content-wrapper {
					border-radius: 0;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;

					&:hover {
						background: transparent;

						&::before {
							background: #e6f7ff;
						}
					}

					&::before {
						position: absolute;
						right: 0;
						left: 0;
						height: 24px;
						-webkit-transition: all 0.3s;
						transition: all 0.3s;
						content: '';
					}

					>span {
						position: relative;
						z-index: 1;
					}
				}

				span.ant-tree-node-content-wrapper.ant-tree-node-selected {
					color: #fff;
					background: transparent;
				}
			}

			>li.ant-tree-treenode-selected {
				>span.ant-tree-switcher {
					color: #fff;
				}

				>span.ant-tree-checkbox {
					.ant-tree-checkbox-inner {
						border-color: #1890ff;
					}
				}

				>span.ant-tree-checkbox.ant-tree-checkbox-checked {
					&::after {
						border-color: #fff;
					}

					.ant-tree-checkbox-inner {
						background: #fff;

						&::after {
							border-color: #1890ff;
						}
					}
				}

				>span.ant-tree-node-content-wrapper {
					&::before {
						background: #1890ff;
					}
				}
			}
		}

		>li.ant-tree-treenode-selected {
			>span.ant-tree-switcher {
				color: #fff;
			}

			>span.ant-tree-checkbox {
				.ant-tree-checkbox-inner {
					border-color: #1890ff;
				}
			}

			>span.ant-tree-checkbox.ant-tree-checkbox-checked {
				&::after {
					border-color: #fff;
				}

				.ant-tree-checkbox-inner {
					background: #fff;

					&::after {
						border-color: #1890ff;
					}
				}
			}

			>span.ant-tree-node-content-wrapper {
				&::before {
					background: #1890ff;
				}
			}
		}
	}

	.ant-tree-checkbox {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		color: rgba(0, 0, 0, 0.65);
		font-size: 14px;
		font-variant: tabular-nums;
		line-height: 1.5;
		list-style: none;
		-webkit-font-feature-settings: 'tnum';
		font-feature-settings: 'tnum';
		position: relative;
		top: -0.09em;
		display: inline-block;
		line-height: 1;
		white-space: nowrap;
		vertical-align: middle;
		outline: none;
		cursor: pointer;

		&:hover {
			.ant-tree-checkbox-inner {
				border-color: #1890ff;
			}

			&::after {
				visibility: visible;
			}
		}
	}

	.ant-tree-checkbox-wrapper {
		&:hover {
			.ant-tree-checkbox-inner {
				border-color: #1890ff;
			}

			.ant-tree-checkbox {
				&::after {
					visibility: visible;
				}
			}

			.ant-tree-checkbox-disabled {
				&::after {
					visibility: hidden;
				}
			}
		}

		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		color: rgba(0, 0, 0, 0.65);
		font-size: 14px;
		font-variant: tabular-nums;
		line-height: 1.5;
		list-style: none;
		-webkit-font-feature-settings: 'tnum';
		font-feature-settings: 'tnum';
		display: inline-block;
		line-height: unset;
		cursor: pointer;
	}

	.ant-tree-checkbox-input {
		&:focus+.ant-tree-checkbox-inner {
			border-color: #1890ff;
		}

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		cursor: pointer;
		opacity: 0;
	}

	.ant-tree-checkbox-checked {
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid #1890ff;
			border-radius: 2px;
			visibility: hidden;
			-webkit-animation: antCheckboxEffect 0.36s ease-in-out;
			animation: antCheckboxEffect 0.36s ease-in-out;
			-webkit-animation-fill-mode: backwards;
			animation-fill-mode: backwards;
			content: '';
			position: absolute;
			top: 16.67%;
			left: 0;
			width: 100%;
			height: 66.67%;
		}

		.ant-tree-checkbox-inner {
			&::after {
				position: absolute;
				display: table;
				border: 2px solid #fff;
				border-top: 0;
				border-left: 0;
				-webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
				-ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
				transform: rotate(45deg) scale(1) translate(-50%, -50%);
				opacity: 1;
				-webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
				transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
				content: ' ';
			}

			background-color: #1890ff;
			border-color: #1890ff;
		}
	}

	.ant-tree-checkbox-inner {
		position: relative;
		top: 0;
		left: 0;
		display: block;
		width: 16px;
		height: 16px;
		background-color: #fff;
		border: 1px solid #d9d9d9;
		border-radius: 2px;
		border-collapse: separate;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;

		&::after {
			position: absolute;
			top: 50%;
			left: 22%;
			display: table;
			width: 5.71428571px;
			height: 9.14285714px;
			border: 2px solid #fff;
			border-top: 0;
			border-left: 0;
			-webkit-transform: rotate(45deg) scale(0) translate(-50%, -50%);
			-ms-transform: rotate(45deg) scale(0) translate(-50%, -50%);
			transform: rotate(45deg) scale(0) translate(-50%, -50%);
			opacity: 0;
			-webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
			transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
			content: ' ';
		}
	}

	.ant-tree-checkbox-disabled {
		cursor: not-allowed;

		.ant-tree-checkbox-input {
			cursor: not-allowed;
		}

		.ant-tree-checkbox-inner {
			background-color: #f5f5f5;
			border-color: #d9d9d9 !important;

			&::after {
				border-color: #f5f5f5;
				border-collapse: separate;
				-webkit-animation-name: none;
				animation-name: none;
			}
		}

		&:hover {
			&::after {
				visibility: hidden;
			}
		}
	}

	.ant-tree-checkbox-disabled.ant-tree-checkbox-checked {
		.ant-tree-checkbox-inner {
			&::after {
				border-color: rgba(0, 0, 0, 0.25);
				-webkit-animation-name: none;
				animation-name: none;
			}
		}
	}

	.ant-tree-checkbox-disabled+span {
		color: rgba(0, 0, 0, 0.25);
		cursor: not-allowed;
	}

	.ant-tree-checkbox-wrapper.ant-tree-checkbox-wrapper-disabled {
		cursor: not-allowed;
	}

	.ant-tree-checkbox-wrapper+.ant-tree-checkbox-wrapper {
		margin-left: 8px;
	}

	.ant-tree-checkbox+span {
		padding-right: 8px;
		padding-left: 8px;
	}

	.ant-tree-checkbox-group {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		color: rgba(0, 0, 0, 0.65);
		font-size: 14px;
		font-variant: tabular-nums;
		line-height: 1.5;
		list-style: none;
		-webkit-font-feature-settings: 'tnum';
		font-feature-settings: 'tnum';
		display: inline-block;
	}

	.ant-tree-checkbox-group-item {
		display: inline-block;
		margin-right: 8px;

		&:last-child {
			margin-right: 0;
		}
	}

	.ant-tree-checkbox-group-item+.ant-tree-checkbox-group-item {
		margin-left: 0;
	}

	.ant-tree-checkbox-indeterminate {
		.ant-tree-checkbox-inner {
			background-color: #fff;
			border-color: #d9d9d9;

			&::after {
				top: 50%;
				left: 50%;
				width: 8px;
				height: 8px;
				background-color: #1890ff;
				border: 0;
				-webkit-transform: translate(-50%, -50%) scale(1);
				-ms-transform: translate(-50%, -50%) scale(1);
				transform: translate(-50%, -50%) scale(1);
				opacity: 1;
				content: ' ';
			}
		}
	}

	.ant-tree-checkbox-indeterminate.ant-tree-checkbox-disabled {
		.ant-tree-checkbox-inner {
			&::after {
				background-color: rgba(0, 0, 0, 0.25);
				border-color: rgba(0, 0, 0, 0.25);
			}
		}
	}

	.ant-tree {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: rgba(0, 0, 0, 0.65);
		font-size: 14px;
		font-variant: tabular-nums;
		line-height: 1.5;
		list-style: none;
		-webkit-font-feature-settings: 'tnum';
		font-feature-settings: 'tnum';
		margin: 0;
		padding: 0;

		ol {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			margin: 0;
			padding: 4px 0;
			white-space: nowrap;
			list-style: none;
			outline: 0;

			span[draggable] {
				line-height: 20px;
				border-top: 2px transparent solid;
				border-bottom: 2px transparent solid;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				-khtml-user-drag: element;
				-webkit-user-drag: element;
			}

			span[draggable='true'] {
				line-height: 20px;
				border-top: 2px transparent solid;
				border-bottom: 2px transparent solid;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				-khtml-user-drag: element;
				-webkit-user-drag: element;
			}

			ul {
				margin: 0;
				padding: 0 0 0 18px;
			}

			.ant-tree-node-content-wrapper {
				display: inline-block;
				height: 24px;
				margin: 0;
				padding: 0 5px;
				color: rgba(0, 0, 0, 0.65);
				line-height: 24px;
				text-decoration: none;
				vertical-align: top;
				border-radius: 2px;
				cursor: pointer;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
				// padding-right: 20px;

				&:hover {
					background-color: #e6f7ff;
				}
			}

			.ant-tree-node-content-wrapper.ant-tree-node-selected {
				background-color: #bae7ff;
			}

			span.ant-tree-checkbox {
				top: initial;
				height: 24px;
				margin: 0 4px 0 2px;
				padding: 4px 0;
			}

			span.ant-tree-switcher {
				display: inline-block;
				width: 24px;
				height: 24px;
				margin: 0;
				line-height: 24px;
				text-align: center;
				vertical-align: top;
				border: 0 none;
				outline: none;
				cursor: pointer;
				position: relative;
			}

			span.ant-tree-iconEle {
				display: inline-block;
				width: 24px;
				height: 24px;
				margin: 0 0 0 -10px;
				line-height: 24px;
				text-align: center;
				vertical-align: top;
				border: 0 none;
				outline: none;
				cursor: pointer;
				float: left;

				&:empty {
					display: none;
				}
			}

			span.ant-tree-switcher.ant-tree-switcher-noop {
				cursor: default;
			}

			span.ant-tree-switcher.ant-tree-switcher_open {
				.ant-tree-switcher-icon {
					font-size: 12px;
					font-size: 10px \9;
					-webkit-transform: scale(0.83333) rotate(0deg);
					-ms-transform: scale(0.83333) rotate(0deg);
					transform: scale(0.83333) rotate(0deg);
					display: inline-block;
					font-weight: bold;

					svg {
						-webkit-transition: -webkit-transform 0.3s;
						transition: -webkit-transform 0.3s;
						transition: transform 0.3s;
						transition: transform 0.3s, -webkit-transform 0.3s;
					}
				}

				.ant-select-switcher-icon {
					font-size: 12px;
					font-size: 10px \9;
					-webkit-transform: scale(0.83333) rotate(0deg);
					-ms-transform: scale(0.83333) rotate(0deg);
					transform: scale(0.83333) rotate(0deg);
					display: inline-block;
					font-weight: bold;

					svg {
						-webkit-transition: -webkit-transform 0.3s;
						transition: -webkit-transform 0.3s;
						transition: transform 0.3s;
						transition: transform 0.3s, -webkit-transform 0.3s;
					}
				}
			}

			span.ant-tree-switcher.ant-tree-switcher_close {
				.ant-tree-switcher-icon {
					font-size: 12px;
					font-size: 10px \9;
					-webkit-transform: scale(0.83333) rotate(0deg);
					-ms-transform: scale(0.83333) rotate(0deg);
					transform: scale(0.83333) rotate(0deg);
					display: inline-block;
					font-weight: bold;

					svg {
						-webkit-transition: -webkit-transform 0.3s;
						transition: -webkit-transform 0.3s;
						transition: transform 0.3s;
						transition: transform 0.3s, -webkit-transform 0.3s;
						-webkit-transform: rotate(-90deg);
						-ms-transform: rotate(-90deg);
						transform: rotate(-90deg);
					}
				}

				.ant-select-switcher-icon {
					font-size: 12px;
					font-size: 10px \9;
					-webkit-transform: scale(0.83333) rotate(0deg);
					-ms-transform: scale(0.83333) rotate(0deg);
					transform: scale(0.83333) rotate(0deg);
					display: inline-block;
					font-weight: bold;

					svg {
						-webkit-transition: -webkit-transform 0.3s;
						transition: -webkit-transform 0.3s;
						transition: transform 0.3s;
						transition: transform 0.3s, -webkit-transform 0.3s;
					}
				}
			}

			&:last-child {
				>span.ant-tree-switcher {
					&::before {
						display: none;
					}
				}

				>span.ant-tree-iconEle {
					&::before {
						display: none;
					}
				}
			}
		}

		li.drag-over {
			>span[draggable] {
				color: white;
				background-color: #1890ff;
				opacity: 0.8;
			}
		}

		li.drag-over-gap-top {
			>span[draggable] {
				border-top-color: #1890ff;
			}
		}

		li.drag-over-gap-bottom {
			>span[draggable] {
				border-bottom-color: #1890ff;
			}
		}

		li.filter-node {
			>span {
				color: #f5222d !important;
				font-weight: 500 !important;
			}
		}

		li.ant-tree-treenode-loading {
			span.ant-tree-switcher.ant-tree-switcher_open {
				.ant-tree-switcher-loading-icon {
					position: absolute;
					left: 0;
					display: inline-block;
					width: 24px;
					height: 24px;
					color: #1890ff;
					font-size: 14px;
					-webkit-transform: none;
					-ms-transform: none;
					transform: none;

					svg {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						margin: auto;
					}
				}
			}

			span.ant-tree-switcher.ant-tree-switcher_close {
				.ant-tree-switcher-loading-icon {
					position: absolute;
					left: 0;
					display: inline-block;
					width: 24px;
					height: 24px;
					color: #1890ff;
					font-size: 14px;
					-webkit-transform: none;
					-ms-transform: none;
					transform: none;

					svg {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						margin: auto;
					}
				}
			}
		}

		>li {
			&:first-child {
				padding-top: 7px;
			}

			&:last-child {
				padding-bottom: 7px;
			}
		}
	}

	&:root {
		.ant-tree {
			li.ant-tree-treenode-loading {
				span.ant-tree-switcher.ant-tree-switcher_open {
					&::after {
						opacity: 0;
					}
				}

				span.ant-tree-switcher.ant-tree-switcher_close {
					&::after {
						opacity: 0;
					}
				}
			}

			li {
				span.ant-tree-switcher.ant-tree-switcher_open {
					.ant-tree-switcher-icon {
						font-size: 12px;
					}

					.ant-select-switcher-icon {
						font-size: 12px;
					}
				}

				span.ant-tree-switcher.ant-tree-switcher_close {
					.ant-tree-switcher-icon {
						font-size: 12px;
					}

					.ant-select-switcher-icon {
						font-size: 12px;
					}
				}
			}
		}
	}

	.ant-tree-child-tree {
		>li {
			&:first-child {
				padding-top: 8px;
			}

			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	li.ant-tree-treenode-disabled {
		>span {
			&:not(.ant-tree-switcher) {
				color: rgba(0, 0, 0, 0.25);
				cursor: not-allowed;
			}
		}

		>.ant-tree-node-content-wrapper {
			color: rgba(0, 0, 0, 0.25);
			cursor: not-allowed;

			span {
				color: rgba(0, 0, 0, 0.25);
				cursor: not-allowed;
			}

			&:hover {
				background: transparent;
			}
		}
	}

	.ant-tree-icon__open {
		margin-right: 2px;
		vertical-align: top;
	}

	.ant-tree-icon__close {
		margin-right: 2px;
		vertical-align: top;
	}

	.ant-tree.ant-tree-show-line {
		li {
			position: relative;

			span.ant-tree-switcher {
				color: rgba(0, 0, 0, 0.45);
				background: transparent;
			}

			span.ant-tree-switcher.ant-tree-switcher-noop {
				.ant-tree-switcher-icon {
					display: inline-block;
					font-weight: normal;
					font-size: 12px;

					svg {
						-webkit-transition: -webkit-transform 0.3s;
						transition: -webkit-transform 0.3s;
						transition: transform 0.3s;
						transition: transform 0.3s, -webkit-transform 0.3s;
					}
				}

				.ant-select-switcher-icon {
					display: inline-block;
					font-weight: normal;
					font-size: 12px;

					svg {
						-webkit-transition: -webkit-transform 0.3s;
						transition: -webkit-transform 0.3s;
						transition: transform 0.3s;
						transition: transform 0.3s, -webkit-transform 0.3s;
					}
				}
			}

			span.ant-tree-switcher.ant-tree-switcher_open {
				.ant-tree-switcher-icon {
					display: inline-block;
					font-weight: normal;
					font-size: 12px;

					svg {
						-webkit-transition: -webkit-transform 0.3s;
						transition: -webkit-transform 0.3s;
						transition: transform 0.3s;
						transition: transform 0.3s, -webkit-transform 0.3s;
					}
				}

				.ant-select-switcher-icon {
					display: inline-block;
					font-weight: normal;
					font-size: 12px;

					svg {
						-webkit-transition: -webkit-transform 0.3s;
						transition: -webkit-transform 0.3s;
						transition: transform 0.3s;
						transition: transform 0.3s, -webkit-transform 0.3s;
					}
				}
			}

			span.ant-tree-switcher.ant-tree-switcher_close {
				.ant-tree-switcher-icon {
					display: inline-block;
					font-weight: normal;
					font-size: 12px;

					svg {
						-webkit-transition: -webkit-transform 0.3s;
						transition: -webkit-transform 0.3s;
						transition: transform 0.3s;
						transition: transform 0.3s, -webkit-transform 0.3s;
					}
				}

				.ant-select-switcher-icon {
					display: inline-block;
					font-weight: normal;
					font-size: 12px;

					svg {
						-webkit-transition: -webkit-transform 0.3s;
						transition: -webkit-transform 0.3s;
						transition: transform 0.3s;
						transition: transform 0.3s, -webkit-transform 0.3s;
					}
				}
			}

			&:not(:last-child) {
				&::before {
					position: absolute;
					left: 12px;
					width: 1px;
					height: 100%;
					height: calc(100% - 22px);
					margin: 22px 0 0;
					border-left: 1px solid #d9d9d9;
					content: ' ';
				}
			}
		}
	}

	.ant-tree.ant-tree-icon-hide {
		.ant-tree-treenode-loading {
			.ant-tree-iconEle {
				display: none;
			}
		}
	}

	.ant-tree.ant-tree-block-node {
		li {
			.ant-tree-node-content-wrapper {
				width: calc(100% - 24px);
			}

			span.ant-tree-checkbox+.ant-tree-node-content-wrapper {
				width: calc(100% - 46px);
			}
		}
	}

	.ant-empty {
		margin: 0 8px;
		font-size: 14px;
		line-height: 22px;
		text-align: center;
	}

	.ant-empty-image {
		height: 100px;
		margin-bottom: 8px;

		img {
			height: 100%;
		}

		svg {
			height: 100%;
			margin: auto;
		}
	}

	.ant-empty-description {
		margin: 0;
	}

	.ant-empty-footer {
		margin-top: 16px;
	}

	.ant-empty-normal {
		margin: 32px 0;
		color: rgba(0, 0, 0, 0.25);

		.ant-empty-image {
			height: 40px;
		}
	}

	.ant-empty-small {
		margin: 8px 0;
		color: rgba(0, 0, 0, 0.25);

		.ant-empty-image {
			height: 35px;
		}
	}

	.ant-spin {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		color: rgba(0, 0, 0, 0.65);
		font-size: 14px;
		font-variant: tabular-nums;
		line-height: 1.5;
		list-style: none;
		-webkit-font-feature-settings: 'tnum';
		font-feature-settings: 'tnum';
		position: absolute;
		display: none;
		color: #1890ff;
		text-align: center;
		vertical-align: middle;
		opacity: 0;
		-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
		transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
		transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
		transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
	}

	.ant-spin-spinning {
		position: static;
		display: inline-block;
		opacity: 1;
	}

	.ant-spin-nested-loading {
		position: relative;

		>div {
			>.ant-spin {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 4;
				display: block;
				width: 100%;
				height: 100%;
				max-height: 400px;

				.ant-spin-dot {
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -10px;
				}

				.ant-spin-text {
					position: absolute;
					top: 50%;
					width: 100%;
					padding-top: 5px;
					text-shadow: 0 1px 2px #fff;
				}
			}

			>.ant-spin.ant-spin-show-text {
				.ant-spin-dot {
					margin-top: -20px;
				}
			}

			>.ant-spin-sm {
				.ant-spin-dot {
					margin: -7px;
				}

				.ant-spin-text {
					padding-top: 2px;
				}
			}

			>.ant-spin-sm.ant-spin-show-text {
				.ant-spin-dot {
					margin-top: -17px;
				}
			}

			>.ant-spin-lg {
				.ant-spin-dot {
					margin: -16px;
				}

				.ant-spin-text {
					padding-top: 11px;
				}
			}

			>.ant-spin-lg.ant-spin-show-text {
				.ant-spin-dot {
					margin-top: -26px;
				}
			}
		}
	}

	.ant-spin-container {
		position: relative;
		-webkit-transition: opacity 0.3s;
		transition: opacity 0.3s;

		&::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
			display: none \9;
			width: 100%;
			height: 100%;
			background: #fff;
			opacity: 0;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
			content: '';
			pointer-events: none;
		}
	}

	.ant-spin-blur {
		clear: both;
		overflow: hidden;
		opacity: 0.5;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: none;

		&::after {
			opacity: 0.4;
			pointer-events: auto;
		}
	}

	.ant-spin-tip {
		color: rgba(0, 0, 0, 0.45);
	}

	.ant-spin-dot {
		position: relative;
		display: inline-block;
		font-size: 20px;
		width: 1em;
		height: 1em;
	}

	.ant-spin-dot-item {
		position: absolute;
		display: block;
		width: 9px;
		height: 9px;
		background-color: #1890ff;
		border-radius: 100%;
		-webkit-transform: scale(0.75);
		-ms-transform: scale(0.75);
		transform: scale(0.75);
		-webkit-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		opacity: 0.3;
		-webkit-animation: antSpinMove 1s infinite linear alternate;
		animation: antSpinMove 1s infinite linear alternate;

		&:nth-child(1) {
			top: 0;
			left: 0;
		}

		&:nth-child(2) {
			top: 0;
			right: 0;
			-webkit-animation-delay: 0.4s;
			animation-delay: 0.4s;
		}

		&:nth-child(3) {
			right: 0;
			bottom: 0;
			-webkit-animation-delay: 0.8s;
			animation-delay: 0.8s;
		}

		&:nth-child(4) {
			bottom: 0;
			left: 0;
			-webkit-animation-delay: 1.2s;
			animation-delay: 1.2s;
		}
	}

	.ant-spin-dot-spin {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-animation: antRotate 1.2s infinite linear;
		animation: antRotate 1.2s infinite linear;
	}

	.ant-spin-sm {
		.ant-spin-dot {
			font-size: 14px;

			i {
				width: 6px;
				height: 6px;
			}
		}
	}

	.ant-spin-lg {
		.ant-spin-dot {
			font-size: 32px;

			i {
				width: 14px;
				height: 14px;
			}
		}
	}

	.ant-spin.ant-spin-show-text {
		.ant-spin-text {
			display: block;
		}
	}

	.ant-input {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-variant: tabular-nums;
		list-style: none;
		-webkit-font-feature-settings: 'tnum';
		font-feature-settings: 'tnum';
		position: relative;
		display: inline-block;
		width: 100%;
		height: 32px;
		padding: 4px 11px;
		color: rgba(0, 0, 0, 0.65);
		font-size: 14px;
		line-height: 1.5;
		background-color: #fff;
		background-image: none;
		border: 1px solid #d9d9d9;
		border-radius: 4px;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.ant-input::-moz-placeholder {
		color: #bfbfbf;
		opacity: 1;
	}

	.ant-input:-ms-input-placeholder {
		color: #bfbfbf;
	}

	.ant-input::-webkit-input-placeholder {
		color: #bfbfbf;
	}

	.ant-input:placeholder-shown {
		text-overflow: ellipsis;
	}

	.ant-input:hover {
		border-color: #40a9ff;
		border-right-width: 1px !important;
	}

	.ant-input:focus {
		border-color: #40a9ff;
		border-right-width: 1px !important;
		outline: 0;
		-webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
		box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
	}

	.ant-input-disabled {
		color: rgba(0, 0, 0, 0.25);
		background-color: #f5f5f5;
		cursor: not-allowed;
		opacity: 1;
	}

	.ant-input-disabled:hover {
		border-color: #d9d9d9;
		border-right-width: 1px !important;
	}

	.ant-input[disabled] {
		color: rgba(0, 0, 0, 0.25);
		background-color: #f5f5f5;
		cursor: not-allowed;
		opacity: 1;
	}

	.ant-input[disabled]:hover {
		border-color: #d9d9d9;
		border-right-width: 1px !important;
	}

	textarea.ant-input {
		max-width: 100%;
		height: auto;
		min-height: 32px;
		line-height: 1.5;
		vertical-align: bottom;
		-webkit-transition: all 0.3s, height 0s;
		transition: all 0.3s, height 0s;
	}

	.ant-input-lg {
		height: 40px;
		padding: 6px 11px;
		font-size: 16px;
	}

	.ant-input-sm {
		height: 24px;
		padding: 1px 7px;
	}

	.ant-input-group {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		color: rgba(0, 0, 0, 0.65);
		font-size: 14px;
		font-variant: tabular-nums;
		line-height: 1.5;
		list-style: none;
		-webkit-font-feature-settings: 'tnum';
		font-feature-settings: 'tnum';
		position: relative;
		display: table;
		width: 100%;
		border-collapse: separate;
		border-spacing: 0;
	}

	.ant-input-group[class*='col-'] {
		float: none;
		padding-right: 0;
		padding-left: 0;
	}

	.ant-input-group>[class*='col-'] {
		padding-right: 8px;
	}

	.ant-input-group>[class*='col-']:last-child {
		padding-right: 0;
	}

	.ant-input-group-addon,
	.ant-input-group-wrap,
	.ant-input-group>.ant-input {
		display: table-cell;
	}

	.ant-input-group-addon:not(:first-child):not(:last-child),
	.ant-input-group-wrap:not(:first-child):not(:last-child),
	.ant-input-group>.ant-input:not(:first-child):not(:last-child) {
		border-radius: 0;
	}

	.ant-input-group-addon,
	.ant-input-group-wrap {
		width: 1px;
		white-space: nowrap;
		vertical-align: middle;
	}

	.ant-input-group-wrap>* {
		display: block !important;
	}

	.ant-input-group .ant-input {
		float: left;
		width: 100%;
		margin-bottom: 0;
		text-align: inherit;
	}

	.ant-input-group .ant-input:focus {
		z-index: 1;
		border-right-width: 1px;
	}

	.ant-input-group .ant-input:hover {
		z-index: 1;
		border-right-width: 1px;
	}

	.ant-input-group-addon {
		position: relative;
		padding: 0 11px;
		color: rgba(0, 0, 0, 0.65);
		font-weight: normal;
		font-size: 14px;
		text-align: center;
		background-color: #fafafa;
		border: 1px solid #d9d9d9;
		border-radius: 4px;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.ant-input-group-addon .ant-select {
		margin: -5px -11px;
	}

	.ant-input-group-addon .ant-select .ant-select-selection {
		margin: -1px;
		background-color: inherit;
		border: 1px solid transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.ant-input-group-addon .ant-select-open .ant-select-selection,
	.ant-input-group-addon .ant-select-focused .ant-select-selection {
		color: #1890ff;
	}

	.ant-input-group-addon>i:only-child::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
	}

	.ant-input-group>.ant-input:first-child,
	.ant-input-group-addon:first-child {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.ant-input-group>.ant-input:first-child .ant-select .ant-select-selection,
	.ant-input-group-addon:first-child .ant-select .ant-select-selection {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.ant-input-group>.ant-input-affix-wrapper:not(:first-child) .ant-input {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.ant-input-group>.ant-input-affix-wrapper:not(:last-child) .ant-input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.ant-input-group-addon:first-child {
		border-right: 0;
	}

	.ant-input-group-addon:last-child {
		border-left: 0;
	}

	.ant-input-group>.ant-input:last-child,
	.ant-input-group-addon:last-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.ant-input-group>.ant-input:last-child .ant-select .ant-select-selection,
	.ant-input-group-addon:last-child .ant-select .ant-select-selection {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.ant-input-group-lg .ant-input,
	.ant-input-group-lg>.ant-input-group-addon {
		height: 40px;
		padding: 6px 11px;
		font-size: 16px;
	}

	.ant-input-group-sm .ant-input,
	.ant-input-group-sm>.ant-input-group-addon {
		height: 24px;
		padding: 1px 7px;
	}

	.ant-input-group-lg .ant-select-selection--single {
		height: 40px;
	}

	.ant-input-group-sm .ant-select-selection--single {
		height: 24px;
	}

	.ant-input-group .ant-input-affix-wrapper {
		display: table-cell;
		float: left;
		width: 100%;
	}

	.ant-input-group.ant-input-group-compact {
		display: block;
		zoom: 1;
	}

	.ant-input-group.ant-input-group-compact::before,
	.ant-input-group.ant-input-group-compact::after {
		display: table;
		content: '';
	}

	.ant-input-group.ant-input-group-compact::after {
		clear: both;
	}

	.ant-input-group.ant-input-group-compact-addon:not(:first-child):not(:last-child),
	.ant-input-group.ant-input-group-compact-wrap:not(:first-child):not(:last-child),
	.ant-input-group.ant-input-group-compact>.ant-input:not(:first-child):not(:last-child) {
		border-right-width: 1px;
	}

	.ant-input-group.ant-input-group-compact-addon:not(:first-child):not(:last-child):hover,
	.ant-input-group.ant-input-group-compact-wrap:not(:first-child):not(:last-child):hover,
	.ant-input-group.ant-input-group-compact>.ant-input:not(:first-child):not(:last-child):hover {
		z-index: 1;
	}

	.ant-input-group.ant-input-group-compact-addon:not(:first-child):not(:last-child):focus,
	.ant-input-group.ant-input-group-compact-wrap:not(:first-child):not(:last-child):focus,
	.ant-input-group.ant-input-group-compact>.ant-input:not(:first-child):not(:last-child):focus {
		z-index: 1;
	}

	.ant-input-group.ant-input-group-compact>* {
		display: inline-block;
		float: none;
		vertical-align: top;
		border-radius: 0;
	}

	.ant-input-group.ant-input-group-compact>*:not(:last-child) {
		margin-right: -1px;
		border-right-width: 1px;
	}

	.ant-input-group.ant-input-group-compact .ant-input {
		float: none;
	}

	.ant-input-group.ant-input-group-compact>.ant-select>.ant-select-selection,
	.ant-input-group.ant-input-group-compact>.ant-calendar-picker .ant-input,
	.ant-input-group.ant-input-group-compact>.ant-select-auto-complete .ant-input,
	.ant-input-group.ant-input-group-compact>.ant-cascader-picker .ant-input,
	.ant-input-group.ant-input-group-compact>.ant-mention-wrapper .ant-mention-editor,
	.ant-input-group.ant-input-group-compact>.ant-time-picker .ant-time-picker-input,
	.ant-input-group.ant-input-group-compact>.ant-input-group-wrapper .ant-input {
		border-right-width: 1px;
		border-radius: 0;
	}

	.ant-input-group.ant-input-group-compact>.ant-select>.ant-select-selection:hover,
	.ant-input-group.ant-input-group-compact>.ant-calendar-picker .ant-input:hover,
	.ant-input-group.ant-input-group-compact>.ant-select-auto-complete .ant-input:hover,
	.ant-input-group.ant-input-group-compact>.ant-cascader-picker .ant-input:hover,
	.ant-input-group.ant-input-group-compact>.ant-mention-wrapper .ant-mention-editor:hover,
	.ant-input-group.ant-input-group-compact>.ant-time-picker .ant-time-picker-input:hover,
	.ant-input-group.ant-input-group-compact>.ant-input-group-wrapper .ant-input:hover {
		z-index: 1;
	}

	.ant-input-group.ant-input-group-compact>.ant-select>.ant-select-selection:focus,
	.ant-input-group.ant-input-group-compact>.ant-calendar-picker .ant-input:focus,
	.ant-input-group.ant-input-group-compact>.ant-select-auto-complete .ant-input:focus,
	.ant-input-group.ant-input-group-compact>.ant-cascader-picker .ant-input:focus,
	.ant-input-group.ant-input-group-compact>.ant-mention-wrapper .ant-mention-editor:focus,
	.ant-input-group.ant-input-group-compact>.ant-time-picker .ant-time-picker-input:focus,
	.ant-input-group.ant-input-group-compact>.ant-input-group-wrapper .ant-input:focus {
		z-index: 1;
	}

	.ant-input-group.ant-input-group-compact>*:first-child,
	.ant-input-group.ant-input-group-compact>.ant-select:first-child>.ant-select-selection,
	.ant-input-group.ant-input-group-compact>.ant-calendar-picker:first-child .ant-input,
	.ant-input-group.ant-input-group-compact>.ant-select-auto-complete:first-child .ant-input,
	.ant-input-group.ant-input-group-compact>.ant-cascader-picker:first-child .ant-input,
	.ant-input-group.ant-input-group-compact>.ant-mention-wrapper:first-child .ant-mention-editor,
	.ant-input-group.ant-input-group-compact>.ant-time-picker:first-child .ant-time-picker-input {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	.ant-input-group.ant-input-group-compact>*:last-child,
	.ant-input-group.ant-input-group-compact>.ant-select:last-child>.ant-select-selection,
	.ant-input-group.ant-input-group-compact>.ant-calendar-picker:last-child .ant-input,
	.ant-input-group.ant-input-group-compact>.ant-select-auto-complete:last-child .ant-input,
	.ant-input-group.ant-input-group-compact>.ant-cascader-picker:last-child .ant-input,
	.ant-input-group.ant-input-group-compact>.ant-cascader-picker-focused:last-child .ant-input,
	.ant-input-group.ant-input-group-compact>.ant-mention-wrapper:last-child .ant-mention-editor,
	.ant-input-group.ant-input-group-compact>.ant-time-picker:last-child .ant-time-picker-input {
		border-right-width: 1px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.ant-input-group.ant-input-group-compact>.ant-select-auto-complete .ant-input {
		vertical-align: top;
	}

	.ant-input-group-wrapper {
		display: inline-block;
		width: 100%;
		text-align: start;
		vertical-align: top;
	}

	.ant-input-affix-wrapper {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		color: rgba(0, 0, 0, 0.65);
		font-size: 14px;
		font-variant: tabular-nums;
		line-height: 1.5;
		list-style: none;
		-webkit-font-feature-settings: 'tnum';
		font-feature-settings: 'tnum';
		position: relative;
		display: inline-block;
		width: 100%;
		text-align: start;
	}

	.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
		border-color: #40a9ff;
		border-right-width: 1px !important;
	}

	.ant-input-affix-wrapper .ant-input {
		position: relative;
		text-align: inherit;
	}

	.ant-input-affix-wrapper .ant-input-prefix,
	.ant-input-affix-wrapper .ant-input-suffix {
		position: absolute;
		top: 50%;
		z-index: 2;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		color: rgba(0, 0, 0, 0.65);
		line-height: 0;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.ant-input-affix-wrapper .ant-input-prefix :not(.anticon),
	.ant-input-affix-wrapper .ant-input-suffix :not(.anticon) {
		line-height: 1.5;
	}

	.ant-input-affix-wrapper .ant-input-disabled~.ant-input-suffix .anticon {
		color: rgba(0, 0, 0, 0.25);
		cursor: not-allowed;
	}

	.ant-input-affix-wrapper .ant-input-prefix {
		left: 12px;
	}

	.ant-input-affix-wrapper .ant-input-suffix {
		right: 12px;
	}

	.ant-input-affix-wrapper .ant-input:not(:first-child) {
		padding-left: 30px;
	}

	.ant-input-affix-wrapper .ant-input:not(:last-child) {
		padding-right: 30px;
	}

	.ant-input-affix-wrapper.ant-input-affix-wrapper-input-with-clear-btn .ant-input:not(:last-child) {
		padding-right: 49px;
	}

	.ant-input-affix-wrapper.ant-input-affix-wrapper-textarea-with-clear-btn .ant-input {
		padding-right: 22px;
	}

	.ant-input-affix-wrapper .ant-input {
		min-height: 100%;
	}

	.ant-input-password-icon {
		color: rgba(0, 0, 0, 0.45);
		cursor: pointer;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.ant-input-password-icon:hover {
		color: #333;
	}

	.ant-input-clear-icon {
		color: rgba(0, 0, 0, 0.25);
		font-size: 12px;
		cursor: pointer;
		-webkit-transition: color 0.3s;
		transition: color 0.3s;
		vertical-align: 0;
	}

	.ant-input-clear-icon:hover {
		color: rgba(0, 0, 0, 0.45);
	}

	.ant-input-clear-icon:active {
		color: rgba(0, 0, 0, 0.65);
	}

	.ant-input-clear-icon+i {
		margin-left: 6px;
	}

	.ant-input-textarea-clear-icon {
		color: rgba(0, 0, 0, 0.25);
		font-size: 12px;
		cursor: pointer;
		-webkit-transition: color 0.3s;
		transition: color 0.3s;
		position: absolute;
		top: 0;
		right: 0;
		margin: 8px 8px 0 0;
	}

	.ant-input-textarea-clear-icon:hover {
		color: rgba(0, 0, 0, 0.45);
	}

	.ant-input-textarea-clear-icon:active {
		color: rgba(0, 0, 0, 0.65);
	}

	.ant-input-textarea-clear-icon+i {
		margin-left: 6px;
	}

	.ant-input-search-icon {
		color: rgba(0, 0, 0, 0.45);
		cursor: pointer;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.ant-input-search-icon:hover {
		color: rgba(0, 0, 0, 0.8);
	}

	.ant-input-search-enter-button input {
		border-right: 0;
	}

	.ant-input-search-enter-button+.ant-input-group-addon,
	.ant-input-search-enter-button input+.ant-input-group-addon {
		padding: 0;
		border: 0;
	}

	.ant-input-search-enter-button+.ant-input-group-addon .ant-input-search-button,
	.ant-input-search-enter-button input+.ant-input-group-addon .ant-input-search-button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.highlight > .ant-tree-node-content-wrapper .ant-tree-title {
		font-weight: bold;
	}

	.treeview-widget-control {
		margin-bottom: 12px;
	}

	.ant-motion-collapse {
		overflow: hidden;
		-webkit-transition: height 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
		transition: height 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
	}

	.ant-tree-show-line {
		.ant-tree-switcher {
			&.ant-tree-switcher-noop {
				background: transparent;
				width: 1px;
				margin-right: 23px;
				left: 12px;
				border-left: 1px solid #d9d9d9;
				i.anticon.anticon-file.ant-tree-switcher-line-icon {
					display: none;
				}
			}
		}
	}

	li.has-icon > .ant-tree-node-content-wrapper {
		padding-right: 20px;
	}
}

@media all and (-ms-high-contrast: none) {
	.treeview-widget {
		.ant-spin-blur {
			background: #fff;
			opacity: 0.5;
		}
	}
}

@media (-ms-high-contrast: active) {
	.treeview-widget {
		.ant-spin-blur {
			background: #fff;
			opacity: 0.5;
		}
	}
}
